<div class="w-full bottom-0">
  <div class="p-5 bg-white flex justify-between">
    <p>Mentions légales</p>
    <div class="px-3 flex justify-around">
      <p class="px-4">06 18 94 65 81</p>
      <p class="px-4">ihaveadream026@gmail.com</p>
      <a href="https://www.instagram.com/gitelacolline/">⏺</a>
      <p class="px-4">DMG</p>
  </div>
  </div>
</div>
