<!-- Les activités -->
<div class="h-72 bg-doux flex items-center">
  <p class="w-full text-center italic">Je suis une grande image // Lieux à visiter et activités à ne pas manquer</p>
</div>

<!-- Corps de la page -->
<div class="px-40 w-full">
  <!-- Paragraphes -->
  <div class="my-10 text-lg text-center text-justify">
    <p class="py-2">Les gîtes de la Colline se trouvent à 2 kilomètres du centre de Pont de Barret, dans un environnement naturel extrèmement préservé. Vous y trouverez des restaurants savoureux, un marché animé, un caviste passioné... Les villages alentours ne sont pas en reste tant pour les sites magnifiques que pour les multiples actvités. Et si le coeur vous en dit, la Vallée du Rhône est toute proche, vous ouvrant la voie vers la mer... </p>
    <p class="py-2">Les montagnes (980 mètres d'altitude pour la plus élevée la montagne de Serre Gros) sont toutes proches. </p>
    <p class="py-2">Située en pleine nature, au milieu des champs, la propriété est proche d'une multitude d'activités de plein air, pour tous les âges et tous les centres d'intérêt. </p>
    <p class="py-2">Les commerces sont tout proches, à Pont de Barret (boulangerie, restaurants, marché),  la Bégude de Mazenc (supermarché et autres commodités) ou dans les autres villages alentours.</p>
    <p class="py-2">Vous profiterez des activités de plein air, notamment :</p>
  </div>
</div>

  <div class="my-10 flex justify-center">
    <div class="bg-ciel px-96 py-52 bg-ble bg-opacity-50 shadow rounded-3xl">
      PIC
    </div>
  </div>
</div>

<div class="px-40 text-lg w-full">
  <li>Baignade dans la rivière à Pont de Barret, à Soyans ou à la piscine d'Eyzahut ou de la Bégude de Mazenc
  <li>Canoé sur la Drôme à Saillans ou à Vercheny
  <li>Via Ferrata, Tir à l'arc, Canyoning et Paintball à Comps 
  <li>Accrobranche à Comps, à Valaurie ou à Marsanne 
  <li>Randonnée pédestres (la forêt de Saou, Les 3 Becs, la Chaudière,...) 
  <li>Randonnée équestres à la Bégude ou à la Batie Rolland 
  <li>VTT ou Vélo de route (location à La Bégude de Mazenc ou Dieulefit) 
  <li>Escalade (à Pont de Barret) 
  <li>Pêche à Cobonne
  <p class="py-2">La Drôme est un territoire extrèmement varié et le canton de Dieulefit Bourdeaux un écrin magnifique.</p>
</div>
