<h1>Bienvenue sur le site de la Colline</h1>
<p>Voici nos 3 gîtes</p>
<%= link_to 'Les Buis',  les_buis_path %>
<%= link_to 'Jardin Clos',  jardin_clos_path %>
<%= link_to 'Plein Champ',  plein_champ_path %>
