<!-- Photo d'accueil -->
<div class="h-80 bg-blue-400 flex items-center">
  <p class="w-full text-center italic">Je suis une grande image de la Colline but Gaëlle's lazy</p>
</div>

<!-- Corps de la page -->
<div class="px-40">
<!-- Catchline -->
  <div class="h-40 flex items-center">
    <p class="w-full text-center text-xl">« Catch line de fou à base d'authenticité et de love »</p>
  </div>

<!-- Soustitre -->
  <div class="h-40 w-full text-lg text-center">
    <p class="py-2">Séjour authentique dans cette ancienne magnanerie du XVII siècle, située en pleine nature, aux pieds de la falaise d'Eyzahut.
      <br>
      Bien rénovée en 3 gîtes indépendants, vous y trouverez calme, détente et ressourcement.</p>
    <p class="py-2">Hors-saison, vous pourrez profiter de la Colline à tarif tout doux
    à la semaine ou sur un grand week-end.</p>
  </div>
</div>
