<!-- Paralax 1) Les réservations -->
<div class="h-72 bg-doux flex items-center">
  <p class="w-full text-center italic">Je suis une grande image // Réservation</p>
</div>

<!-- Corps de la page -->
<div class="px-40 w-full">

  <!-- Calendrier et calcul -->
  <div class="mt-10 mb-5 text-lg text-center text-justify">
    <p class="py-2">Calendrier de disponibilité des gîtes</p>
  </div>

  <div class="grid grid-rows-3 grid-cols-6 gap-2">

    <!-- Calendrier -->
      <div class="row-start-1 row-span-3 col-start-1 col-span-4 p-2 mx-10">
        <div class="flex justify-around text-xs px-10">
          <p>Réservation Plein Champ</p>
          <p>Réservation Jardin Clos</p>
          <p>Réservation Les Buis</p>
        </div>
        <div class="m-3 flex justify-center">
          <p class="bg-acier p-60 rounded-3xl shadow">Calendrier</p>
        </div>
      </div>

    <!-- Calcul et bouton -->
    <div class="row-start-1 row-span-2 col-start-5 col-span-2 bg-gray-600 text-white my-20 p-5 mr-10">
      <p class="text-center py-5 text-xl">Vous souhaitez réserver</p>
      <div class="flex flex-wrap px-5 pb-5">
      <p class="px-2">⚪️ Plein Champ</p>
      <p class="px-2">🔘 Les Buis</p>
      <p class="px-2">⚪️ Jardin Clos</p>
      </div>
      <hr>
      <div class="flex justify-between p-5">
        <p>Prix estimé :</p>
        <p>1257€</p>
      </div>
    </div>
    <div class="row-start-3 row-span-1 col-start-5 col-span-2 flex justify-center">
      <button class="mb-36 bg-acier px-8 py-2 rounded-xl shadow">
        <%= link_to 'Faire cette réservation', contact_path %>
      </button>
    </div>

  </div>

  <!-- Tableau des tarifs -->
  <div class="text-justify py-2">
    <p class="text-lg">Tarifs tout au long de l'année</p>
    <p class="text-sm">La Colline propose des tarifs accessibles en toute saison. Les vacances de vos rêves sont enfin à votre portée...</p>
  </div>

  <div class="bg-acier text-white grid grid-rows-4 grid-cols-4 gap-x-2 gap-y-4 text-center rounded-3xl m-2 mx-24 p-4 shadow">
    <div class="col-start-2 text-xl">Les Buis</div>
    <div class="text-xl">Jardin Clos</div>
    <div class="text-xl">Plein Champ</div>
    <div class="">Haute saison<br><p class="text-sm">(juillet, août, 20-31 décembre)</p></div>
    <div class=""><span class="text-lg">655€</span>/semaine<br><p class="text-sm">348€/weekend</p></div>
    <div class=""><span class="text-lg">655€</span>/semaine<br><p class="text-sm">348€/weekend</p></div>
    <div class=""><span class="text-lg">655€</span>/semaine<br><p class="text-sm">348€/weekend</p></div>
    <div class="">Moyenne saison<br><p class="text-sm">(2 janvier - 7 juillet, septembre)</p></div>
    <div class=""><span class="text-lg">655€</span>/semaine<br><p class="text-sm">348€/weekend</p></div>
    <div class=""><span class="text-lg">655€</span>/semaine<br><p class="text-sm">348€/weekend</p></div>
    <div class=""><span class="text-lg">655€</span>/semaine<br><p class="text-sm">348€/weekend</p></div>
    <div class="">Basse saison<br><p class="text-sm">(1 octobre - 19 décembre)</p></div>
    <div class="col-start-2 col-span-3 italic">Nous contacter</div>
  </div>

</div>

